@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #ef4444;   /* red-500 */
  --color-secondary: #000000; /* black */
  --color-bg: #f8fafc;        /* slate-50 */
  --color-card: #ffffff;      /* white */
  --color-text: #111827;      /* gray-900 */

  --color-primary-dark: #dc2626;   /* red-600 */
  --color-secondary-dark: #f3f4f6; /* gray-100 */
  --color-bg-dark: #111827;        /* gray-900 */
  --color-card-dark: #1f2937;      /* gray-800 */
  --color-text-dark: #f3f4f6;      /* gray-100 */
}